@charset "utf-8";
/* CSS Document */

.nc-menu-trigger {
     height: 44px;
     overflow: hidden;
     position: fixed;
     right: 30px;
     text-indent: 100%;
     top: 30px;
     transition: transform 0.2s ease 0s;
     white-space: nowrap;
     width: 44px;
     z-index: 3;
}

.nc-menu-trigger span {
     background-color: #ffffff;
     bottom: auto;
     height: 3px;
     left: 50%;
     position: absolute;
     right: auto;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 32px;
}

.nc-menu-trigger span::before, .nc-menu-trigger span::after {
     backface-visibility: hidden;
     background-color: inherit;
     content: "";
     height: 100%;
     position: absolute;
     right: 0px;
     top: 0px;
     transform: translateZ(0px);
     transition: transform 0.2s ease 0s, width 0.2s ease 0s;
     width: 100%;
}

.nc-menu-trigger span::before {
     transform-origin: right top 0px;
     transform: translateY(-10px);
}

.nc-menu-trigger span::after {
     transform-origin: right bottom 0px;
     transform: translateY(10px);
}

.no-touch .nc-menu-trigger:hover {
     transform: rotate(180deg);
}

.no-touch .nc-menu-trigger:hover span::after, .no-touch .nc-menu-trigger:hover span::before {
     width: 50%;
}

.no-touch .nc-menu-trigger:hover span::before {
     transform: translate(1px, 1px) rotate(45deg);
}

.no-touch .nc-menu-trigger:hover span::after {
     transform: translate(1px, -1px) rotate(-45deg);
}

.nc-menu-container {
     backface-visibility: hidden;
     background-color: #000000;
     height: 100%;
     overflow-y: auto;
     position: fixed;
     right: 0px;
     top: 0px;
     transform: translateX(100%);
     transition: transform 0.3s ease 0s, box-shadow 0s ease 0.3s;
     width: 300px;
     z-index: 4;
}

.nc-menu-container.visible-on {
     background-color: #000000;
     box-shadow: -4px 0px 30px rgba(0, 0, 0, 0.2);
     transform: translateX(0px);
     transition: transform 0.3s ease 0s, box-shadow 0s ease 0s;
}

.nc-menu-container header {
     position: relative;
}

.nc-menu-close {
     bottom: auto;
     height: 44px;
     margin-right: -22px;
     overflow: hidden;
     position: absolute;
     right: 50%;
     text-indent: 100%;
     top: 50%;
     transform: translateY(-50%);
     transition: opacity 0.2s ease 0s;
     white-space: nowrap;
     width: 44px;
}

.nc-menu-close::after, .nc-menu-close::before {
     backface-visibility: hidden;
     background-color: #5c4b51;
     content: "";
     height: 3px;
     left: 50%;
     position: absolute;
     top: 50%;
     width: 32px;
}

.nc-menu-close::after {
     transform: translate(-50%, -50%) rotate(45deg);
}

.nc-menu-close::before {
     transform: translate(-50%, -50%) rotate(-45deg);
}

.no-touch .nc-menu-close:hover {
     opacity: 0.8;
}

.nc-menu::after {
     clear: both;
     content: "";
     display: table;
}

.nc-menu li {
     border: medium none;
     float: none;
     height: calc((100vh - 68px) / 3);
     min-height: 120px;
     width: 50%;
}

.nc-menu a {
     display: block;
     height: 100%;
     position: relative;
     text-align: center;
     width: 100%;
}

.nc-overlay {
     backface-visibility: hidden;
     background-color: rgba(0, 0, 0, 0.35);
     cursor: pointer;
     height: 100%;
     left: 0px;
     opacity: 0;
     position: fixed;
     top: 0px;
     transition: opacity 0.4s ease 0s, visibility 0s ease 0.4s;
     width: 100%;
}

.nc-overlay.visible-on {
     opacity: 1;
     transition: opacity 0.4s ease 0s, visibility 0s ease 0s;
     visibility: visible;
}

#main {
     box-shadow: 0px 0px 30px #241d20;
     height: 100vh;
     overflow-x: hidden;
     position: relative;
     transition: transform 0.4s ease 0s;
}

#main.nc-down-scale {
     transform: scale(0.9);
}

.nc-content-section {
     height: 100%;
     left: 0px;
     overflow-y: auto;
     position: absolute;
     top: 0px;
     transform: translateX(100%);
     transition: transform 0s ease 0.4s;
     width: 100%;
     z-index: 1;
}

.nc-content-section.nc-active {
     position: relative;
     transform: translateX(0px);
     transition: transform 0.4s ease 0s;
     z-index: 2;
}

.nc-menu li.nc-active .link-box {
     background-color: #ffffff;
     color: #000000;
}

.no-js #main, .no-js .nc-content-section {
     height: auto;
     overflow: visible;
}

.no-js .nc-content-section {
     position: static;
     transform: translateX(0px);
}

.no-js .nc-menu-container {
     height: auto;
     overflow: visible;
     position: static;
     transform: translateX(0px);
     width: 100%;
}

.no-js .nc-menu-close {
     display: none;
}

.no-js .nc-menu li {
     float: left;
     width: 50%;
}

@media only screen and (min-width: 700px) {
  .no-js .nc-menu li { width: 33.3%; float: left; }
}

@media only screen and (min-width: 1024px) {
  .no-js .nc-menu li { width: 16.66%; float: left; }
}